<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Section 11</title>

    <!-- CDN Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
</head>
<body>

    <div id="app">
        <p v-if="toDoList.length == 0">Data Masih Kosong!</p>
        <ol>
            <li v-for="(list, index) in toDoList">
                {{ list }} <button v-on:click="deleteArray(index)">Hapus</button>
            </li>
        </ol>
        <input type="text" v-model:value ="message" id="idText">
        <button v-on:click="addArray(message)" id="idButton">Tambahkan</button>
        <p v-if="toDoList.length >= 4">Hebat!</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data(){
                return{
                    message: '',
                    toDoList: []
                }
            },
            methods: {
                addArray(message){
                    this.toDoList.push(message)
                    this.message = ''
                },
                deleteArray(message){
                    this.toDoList.splice(message, 1)
                }
            }
        })
    </script>

</body>
</html>