*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin: 0 5% 0 5%;
}

.logo img{
    height: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 20%;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #87a8e4;
}

.content-1{
    background-image: url(img/sample-pattern.png);
    height: 850px;  
}

.content-1 h1{
    padding: 25px 0 25px;
    text-align: center;
    color: #3b5279;
}

.content-1 .container{
    margin: 0 auto;
    width: 60%;
}

.content-1 .container .box{
    background-color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    padding: 30px 20px 0 20px;
}

.content-1 .container .box h3{
    color: #5277b9;
}

/* Footer */
footer{
    width: 100%;
    height: 80px;
    background-color: black;
}

footer p{
    color: white;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width : 768px) {
    nav ul{
        width: 30%;
    }

    .content-1 .container .box{
        background-color: white;
        height: 120px;
        width: 100%;
        margin-bottom: 5px;
        padding: 30px 20px 0 20px;
    }
}

@media screen and (max-width : 576px) {

    .content-1{
        background-image: url(img/sample-pattern.png);
        height: 1000px;  
    }

    nav ul{
        width: 40%;
    }

    .content-1 .container .box{
        background-color: white;
        height: 140px;
        width: 100%;
        margin-bottom: 5px;
        padding: 30px 20px 0 20px;
    }
}